@{
    ViewData["Title"] = "Add a Task";
}

@model Mission08_Group_2_1.Models.Task

<!-- Form to create a new task with all the elements found in the models -->

<form method="post">
    <label asp-for="Name">Name:</label>
    <input asp-for="Name" /><br />
    <label asp-for="DueDate">Due Date:</label>
    <input asp-for="DueDate" /><br />
    <label asp-for="Quadrant">Quadrant:</label>
    <select asp-for="Quadrant">
        <option>--Select Quadrant--</option>
        <option value="1">1 - Important and Urgent</option>
        <option value="2">2 - Important, but Not Urgent</option>
        <option value="3">3 - Not Important, but Urgent</option>
        <option value="4">4 - Not Important and Not Urgent</option>
    </select><br />
    <label asp-for="CategoryId">Category:</label>
    <select asp-for="CategoryId">
        <option>--Select Category--</option>
        @foreach (Category c in ViewBag.Category)
        {
            <option value="@c.Id">@c.Name</option>
        }
    </select><br />
    <label asp-for="Completed">Completed?</label>
    <select asp-for="Completed">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select><br />
    <button type="submit" class="btn btn-primary">Submit</button>

    <div asp-validation-summary="All"></div>
</form>