@{
    ViewData["Title"] = "Home Page";
}

<h2>Group 2-1</h2>
<br />
    Mission 8 - Task website with database using highly effective habits
<br />
    Dalyn Baldwin, Doug Regehr, Holly Lambert, Koleton Murray, Spencer Cable