@{
    ViewData["Title"] = "Home Page";
}

<!--

    Group 2-1
    Mission 8 - Task website with database using highly effective habits
    Dalyn Baldwin, Doug Regher, Holly Lambert, Koleton Murray, Spencer Cable

-->

<a asp-controller="Home" asp-action="QuadrantsView">Quad View</a>